configout/
*.log
*.trs
aclocal.m4
autom4te.cache/
config.h.in
configure
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
*.o
*.lo
.deps
.libs
*.swp
Makefile
Makefile.in
config.guess
config.sub
depcomp
install-sh
missing
config.h
config.h.*
config.log
config.status
libtool
stamp-h1
*.la
tests/test_*
log

.gdbinit
.idea/
CMakeCache.txt
CMakeFiles
*/CMakeFiles/*
cmake-build-debug/
cmake_install.cmake
*.so
*.cbp
*.a
doit
install_manifest.txt
key-agent/cli/keyagent-cli
testserver/testserver
npm/kms/tests/test_kms_npm
npm/tests/test_app/npm_tapp
key-agent/tests/test_app/keyagent_testapp
*.Po
G[R|P|T|F|L]*
api-module/pkcs11/tests/aes-test/aes_encrypt_decrypt
api-module/pkcs11/tests/data/
api-module/pkcs11/tests/config
api-module/pkcs11/tests/rsa-test/testdata
